{% extends 'nav_foot.html' %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static '/images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>
	
	<section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(static/images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Welcome to VehicleRental</h2>

	            <p>Vehicle Renting And Booking Made easier. Vehicle Renting And Booking Made easier. Vehicle Renting And Booking Made easier</p>
	            <p>It's easy to book and rent vehicle from our site.It's easy to book and rent vehicle from our site.It's easy to book and rent vehicle from our site.</p>
	            <p><a href="car" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-intro" style="background-image: url(static/images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="mb-3">Do You Want To Earn With Us? So Don't Be Late.</h2>
            <a href="rentcreate" class="btn btn-primary btn-lg">Become A Renter</a>
          </div>
				</div>
			</div>
		</section>
{% endblock %}